@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url('../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../polices/ballpark.woff') format('woff'),
         url('../polices/ballpark.ttf') format('truetype'),
         url('../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1
{
    text-align: center;
}

body
{
    background: url('../assets/fond_jaune.png');
    font-family: 'Times New Roman', Arial, sans-serif;
    color: #181818;
}


section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url('../assets/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/*Navigation*/

header nav ul
{
    list-style-type: none;
    display: flex;
}

header nav li
{
    margin-right: 15px;
}

header nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

header nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}


/* Corps */

section
{
    font-family: 'Times New Roman', Times;
}

.flex
{
float: right;
margin-right: 30%;
margin-bottom: 5%;
}

section h2
{
 font-family: dayrom;
}

/* Footer */

footer
{
    display: flex;
    background:  url('../assets/ico_top.png') no-repeat top center, url('../assets/separateur.png') repeat-x top, url('tpip/images/ombre.png') repeat-x top;
    padding-top: 25px;
    clear: both;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_restos
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_restos
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_restos ul
{
    list-style-image: url('../assets/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_restos a
{
    text-decoration: none;
    color: #760001;
}

.photo
{
    text-align: center;
}